* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#250821;
    --big-font:2.5rem;
    --normal-font:2rem;
    --neon-box-shadow: 0 0 .8rem #12f7ff;
    --h2-font:3rem;
    --p-font:1rem;
    --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3)
    ;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: transparent;
    border-bottom: 1px solid transparent;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

span {
    color: var(--hover-color);
}

.navlist {
    display: flex;
}

.navlist a {
    font-size: var(--p-font);
    color: var(--text-color);
    padding: 10px 27px;
}

.navlist a:hover {
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6)
    ;
}

.navlist a.active {
    color: var(--hover-color);
}

section {
    padding: 100px 10%;
}

.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4rem;
}


.home-content {
    max-width: 600px;
    margin-top: 100px;
}
.home-content h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

.home-content h3 {
    font-size: var(--normal-font);
    font-weight: 700;
    color: var(--hover-color);
    margin-top: 14px;
}

.home-content p {
    position: relative;
    font-size: var(--p-font);
    color: #bdbdbd;
    line-height: 1.6;
}

.home-content p::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showTop 2s ease forwards;
    animation-delay: 1s;
}

.info-box1 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    margin: 1rem 0 2rem;
    margin-top: 24px;
}

.btn-box {
    display: block;
}

.email-info {
    padding-right: 24px;
}

.info-box1 h5 {
    font-size: var(--p-font);
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 8px;
}

.info-box1 span {
    font-size: .9rem;
    color: #bdbdbd;
}

.home-content .btn-box {
    width: 320px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.home-content .btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    font-size: var(--text-color);
    letter-spacing: 1px;
    font-weight: 600;
    overflow: hidden;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    z-index: 1;
    position: relative;
    border-radius: 5px;

}

.btn-box a:hover {
    color: var(--bg-color);
}

.home-content .btn-box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--hover-color);
    width: 0;
    z-index: -1;
    transition: .6s;
}

.home-content .btn-box a:hover::before {
    width: 100%;
}

.btn-box a:nth-child(1){
    background-color: var(--hover-color);
    color: var(--bg-color);
}

.btn-box a:nth-child(1)::before {
    background: var(--bg-color);
}

.btn-box a:nth-child(1):hover {
    color: var(--hover-color);
}

.home-image {
    position: relative;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.liquid-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 10%;
}

.liquid-shape:nth-child(2){
    filter: blur(50px);
}

/* KEYFRMAS */
@keyframes showTop {
    100%{
        width: 0;
    }
}

